/* style.css */



/* Title container */
.title-container {
    display: flex;
    align-items: center;
    background-color: #245d37;
    padding: 0px;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Title */
.title {
    flex: 1;
    font-size: 3rem;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Year slider */
.sidebar .sidebar-content {
    background-color: #f0f2f6;
}


/* H1 border bottom */
h1 {
    border-bottom: 1px solid #FFFFFF;
}

/* H4 background color */
h4 {
    /*    background-color: #f0f2f6; */
        border-bottom: 1px solid #f0f2f6;
        padding-bottom: 8px ;
    }

/* H5 background color */
h5 {
/*    background-color: #f0f2f6; */
    border-bottom: 1px solid #f0f2f6;
    padding-bottom: 5px ;
}

[data-testid="stHorizontalBlock"] [data-testid="stMetric"] {
    background: #151515;
    color: white;
    border-radius: 5pt;
    padding: 5pt;
    margin: 0pt
}

[data-testid="stHorizontalBlock"] [data-testid="stMetricLabel"] {
    color: white;
}

[data-testid="stRadio"] {
    display: flex;
    flex-direction: row;
    padding-top: 10pt;
}


#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-bm2z3a.ea3mdgi8 > div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div:nth-child(12) > div{
    margin-top: -10pt;
}