/* style.css */



/* Title container */
.title-container {
    display: flex;
    align-items: center;
    background-color: #245d37;
    padding: 0px;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Title */
.title {
    flex: 1;
    font-size: 3rem;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Year slider */
.sidebar .sidebar-content {
    background-color: #f0f2f6;
}


/* H1 border bottom */
h1 {
    border-bottom: 1px solid #FFFFFF;
}

/* H4 background color */
h4 {
    /*    background-color: #f0f2f6; */
        border-bottom: 1px solid #f0f2f6;
        padding-bottom: 8px ;
    }

/* H5 background color */
h5 {
/*    background-color: #f0f2f6; */
    border-bottom: 1px solid #f0f2f6;
    padding-bottom: 5px ;
}

div[data-testid="stVerticalBlock"]:has(> div.element-container > div.stMarkdown > div[data-testid="stMarkdownContainer"] > p > span.stock-tickers) 
                    [data-testid="stMetric"] [data-testid="stMetricLabel"] {
    color: white;
}

[data-testid="stRadio"] {
    display: flex;
    flex-direction: row;
    padding-top: 10pt;
}


#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-bm2z3a.ea3mdgi8 > div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div:nth-child(12) > div{
    margin-top: -10pt;
}

#top-headlines-category{
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ddd; 
    margin-bottom: 10px; 
    border-radius: 10px;
}

a.news-article-link {
    text-decoration: none; /* Removes underline */
    color: inherit; 
}

#todays-outlook-container{
    background-color: #5a7ec5;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    margin-right: 10px ;
    min-width: 525px;
    width: 525px;
    height: 308px;
}

#astro-container{
    background-color: #5a7ec5;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    margin-left: 10px ;
    min-width: 525px;
    width: 525px;
    height: 308px;
}

#outlook-astro-parent{
    width: 80%;
}

#seven-day-parent{
    background-color: #5a7ec5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    min-width: 1075px;
    overflow: hidden;
    margin-top:15px;
}


#weather-h2{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

#outlook-astro-container-col1{
    margin: 0px;
    width: 50%
}

#outlook-astro-container-col2{
    margin: 0px;
    width: 50%;
    position: relative;
}

#weather-page-parent{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}